<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="acerca">
    <h1>Stole all gold from Brazil</h1>
    <p> Dom Pedro I, nicknamed "the Liberator", was the founder and first ruler of the Empire of Brazil. As King Dom Pedro IV, he reigned briefly over Portugal, where he also became known as "the Liberator" as well as "the Soldier King". Born in Lisbon, Pedro I was the fourth child of King Dom John VI of Portugal and Queen Carlota Joaquina, and thus a member of the House of Braganza. When the country was invaded by French troops in 1807, he and his family fled to Portugal's largest and wealthiest colony, Brazil. </p>
    <button id="foot"><button class="button-os"><a href="/works">Works</a></button></button>
</div>
</body>
</html>