<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    <title>Document</title>
    
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="acerca">
    <h1>Full Time thief</h1>
    <p id="fern"> After long negotiations, Portugal signed a treaty with Brazil on 29 August 1825 in which it recognized Brazilian independence. Except for the recognition of independence, the treaty provisions were at Brazil's expense, including a demand for reparations to be paid to Portugal, with no other requirements of Portugal. Compensation was to be paid to all Portuguese citizens residing in Brazil for the losses they had experienced, such as properties which had been confiscated. John VI was also given the right to style himself emperor of Brazil. More humiliating was that the treaty implied that independence had been granted as a beneficent act of John VI, rather than having been compelled by the Brazilians through force of arms. Even worse, Great Britain was rewarded for its role in advancing the negotiations by the signing of a separate treaty in which its favorable commercial rights were renewed and by the signing of a convention in which.</p>
    <button id="foot"><button class="button-os"><a href="/#">Home</a></button></button>
</div>
</body>
</html>